@font-face {
  font-family: 'stalemate';
  src: url(fonts/Stalemate-Regular.ttf);
  font-weight: bold;
}

/*#textContainer .outline1 {
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: white;  
}

#textContainer .outline2 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #556B2F; 
} */
